extends layout

block content
    h1= title
    p Without phone no human can survive in this fast paced technological world.
    div(class="container-fluid")
        div(class="row")
            -
                let phone = results
            each v in phone
                - let destination = `dispatch(\"/phone/update?id=${v._id}\")`
                div(class="row-sm-2" class='m-1') Phone #{v.phonename}(#{v.brand}) is #{v.cost}
                    button(class="btn-primary ml-1", onclick=destination) Update
            script.
                function dispatch(path){
                    window.location.href = path
                }