extends layout

block content
  h1= title

  - let phoneid = toShow._id
  - let name = toShow.name
  - let brand = toShow.brand
  - let cost = toShow.cost
  div
    div.row
      div(class='phoneAttr mr-3') Phone ID is:
      div #{phoneid}
    div.row
      div(class='phoneAttr mr-3') Phone Name is:
      div #{name}
    div.row
      div(class='phoneAttr mr-3') Phone Brand is:
      div #{brand}
    div.row
      div(class='phoneAttr mr-3') Phone Cost is:
      div #{cost}
